:root {
  --back-color: #5cdb95;
  --primary-color: #05386b;
  --secondary-color: #379683;
  --light-color: #8ee4af;
  --elementery-color: #edf5e1;
  --headings-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  background: var(--back-color);
  color: var(--primary-color);
}

.container-fluid {
  background: var(--back-color);
}

.nav-link {
  color: var(--primary-color);
}

#brand-logo {
  width: 180px;
}

h1,
h2 {
  font-family: var(--headings-font-family);
}

h3,
h4,
p {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

.hero {
  padding: 160px 20px;
  text-align: center;
}

.hero h2 {
  font-size: 36px;
  font-weight: bold;
}

.hero h1 {
  font-size: 96px;
}

.hero h3 {
  font-size: 24px;
  margin-top: 30px;
}

h2 {
  font-size: 45px;
}

.btn-branding {
  background: var(--primary-color);
  color: var(--light-color);
  box-shadow: 13px 12px 20px rgba(5, 56, 107, 0.2);
  padding: 10px 20px;
  margin-top: 45px;
  border: 1px solid var(--secondary-color);
  font-family: var(--default-font-family);
  font-weight: 500;
}

.btn-branding:hover {
  cursor: pointer;
  background: var(--primary-color);
  color: var(--light-color);
  border: 1px solid var(--secondary-color);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.container-main-page {
  margin: 25px auto;
  background: var(--light-color);
  border-radius: 20px;
  box-shadow: 13px 12px 20px rgba(5, 56, 107, 0.2);
  padding-bottom: 50px;
}

#logo-app {
  border-radius: 20px;
  box-shadow: 3px 12px 25px rgba(5, 56, 107, 0.1);
}

.app-description {
  padding: 25px;
}

.app-description p {
  text-align: justify;
  text-indent: 30px;
  margin-top: 10px;
}

.app-button {
  text-decoration: none;
  background: var(--primary-color);
  color: var(--light-color);
  border: 1px solid var(--secondary-color);
  padding: 10px 20px;
  font-family: var(--default-font-family);
  font-weight: 500;
  box-shadow: 13px 12px 20px rgba(5, 56, 107, 0.2);
  border-radius: 10px;
}

.links {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.education {
  background: var(--light-color);
  border-radius: 20px;
  padding: 15px;
  margin-top: 40px;
}

.education h4 {
  margin: 15px;
}

.main-content {
  padding: 100px 20px 0 20px;
  text-align: center;
}

.main-content h1 {
  font-size: 64px;
}

.main-content h3 {
  font-size: 24px;
}

.about-paragraphs {
  text-align: justify;
  text-indent: 30px;
  margin-top: 15px;
}

.about-photo {
  width: 350px;
  box-shadow: 13px 12px 20px rgba(5, 56, 107, 0.2);
  border-radius: 20px;
  border: 2px solid white;
  margin-top: 80px;
}

.projects {
  background: var(--light-color);
  padding: 15px;
  border-radius: 20px;
  margin-top: 40px;
}

.projects h3 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.projects h4 {
  font-size: 20px;
  margin-top: 20px;
}

.projects p {
  text-align: justify;
  text-indent: 30px;
}

nav a:hover,
nav li.active a {
  color: rgb(27, 26, 26);
}

footer {
  margin: 60px 0;
}

footer .mail-link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 24px;
  text-align: center;
  transition: all 150ms ease-in-out;
  font-family: var(--headings-font-family);
}

footer .social-media {
  text-align: center;
}

footer .social-media a {
  margin: 0 20px;
  color: var(--primary-color);
  font-size: 30px;
  transition: all 150ms ease-in-out;
}

footer .mail-link:hover,
footer .social-media a:hover,
footer p a:hover {
  color: rgb(27, 26, 26);
}

footer p {
  margin: 20px;
  text-align: center;
  color: var(--primary-color);
}

@media (max-width: 800px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 65px;
    font-family: "Playfair Display", serif;
  }

  .hero {
    padding: 80px 20px;
  }
}
