:root {
  --back-color: #5cdb95;
  --primary-color: #05386b;
  --secondary-color: #379683;
  --light-color: #8ee4af;
  --elementery-color: #edf5e1;
}

body {
  background: var(--back-color);
  color: var(--primary-color);
}

.hero {
  padding: 160px 20px;
  text-align: center;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: bold;
}

h1 {
  font-size: 96px;
  font-family: "Playfair Display", serif;
}

.hero h3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}

.btn-branding {
  background: white;
}
