body {
  background: red;
}

.hero {
  padding: 160px 20px;
  text-align: center;
  background: #5cdb95;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: bold;
}

h1 {
  font-size: 96px;
  font-family: "Playfair Display", serif;
}

.hero h3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}
